@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body{
    width: 100%;
}

header{
    background-color: #061C58;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h1{
    color: #E8EEFF;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #E8EEFF;
    font-weight: 400;
}

.mobile-menu-icon, .mobile-menu{
    display: none;
}

.intro{
    text-align: center;
    height: 225px;
    background-color: aquamarine;
    background-image: radial-gradient(#4677FF, #061C58 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #E8EEFF;
}

.intro h2{
    padding-bottom: 1.5rem;
    font-size: 2rem;
}

.problema{
    padding: 0.8rem 2rem;
    background-color: #061C58;
    color: #E8EEFF;
}

.problema h2{
    padding-bottom: 12px;
    font-size: 1.5rem;
}

.problema a{
    text-decoration: none;
    color: #4677FF;
    font-weight: bold;
}

.problema ul{
    list-style-position: inside;
}

.problema ul li{
    padding-bottom: 7px;
}


.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #061C58;
    color: #E8EEFF;
}

.video h2{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1.2rem;
}

.video iframe{
    height: 228px;
    width: 93%;
    top: 50%;
    left: 50%;
    transform: translate(1%, 6%);
}

.video .btn-ingles{
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.video .btn-ingles button{
    color: #E8EEFF;
    text-shadow: 1px 1px #010511;
}

.video .btn-ingles button{
    background-color: #4677FF;
    padding: 12px 19px;
    font-size: 1.2rem;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.video img{
    width: 35px;
}

.sobre{
    padding-top: 1.5rem;
}

.sobre h2{
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1.2rem;
    margin: auto;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card{
    background-color: #061C58;
    padding: 20px;
    margin: 10px;
    width: 350px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 190px;
    color: #E8EEFF;
}

.icone{
    padding-bottom: 5px;
}

.card h3{
    padding-bottom: 8px;
}

.icon{
    width: 50px;
}

.links div{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    gap: 20px;
}

.links div a{
    background-color: #4677FF;
    padding: 12px 25px;
    font-size: 1.2rem;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    color: #E8EEFF;
    text-shadow: 1px 1px #010511;
    text-decoration: none;
    font-weight: bold;
    gap: 20px;

}

.links img{
    width: 25px;
}

footer{
    background-color: #061C58;
    color: white;
    padding: 1.5rem;
    text-align: center;
    text-shadow: 1px 1px #010511
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 2rem;
    }
    .nav-item {
        display: none;
    }
    
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}